# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.json
ci_test
IR_node

bower_components
chrome/js
chrome/html
chrome/css


