html, body
  height 100%
  margin 0
  padding 0

ul.project-list
  width 100%
  margin 0
  padding 0

  & > li
    display block
    margin 5px
    padding 5px
    border-radius 5px 5px
    background green
    font-size large
    text-align center
    height 33%
    color white

    & > span
      margin 5px
