html, body
  height 100%
  margin 0
  padding 0

ul.project-list
  width 100%
  margin 0
  padding 0

  >li
    display block
    margin 5px
    padding 5px
    border-radius 5px 5px
    font-size large
    text-align center
    vertical-align middle
    color white

    & > span
      margin 5px

.overall-status
  margin 5px
  padding 20px 5px
  border-radius 5px 5px
  font-size large
  text-align center
  vertical-align middle
  color white

.project
  background gray

  &[status=building]
   background yellow

  &[status=success]
    background green

  &[status=failure]
    background red

  &[status=exception]
    background gray

  &[status=pending]
    background gray

  &[status=unknown]
    background gray
