extend layout

block append css
  link(href="/css/index.css", rel="stylesheet", type="text/css", media="all")

block append js
  script(src="/bower_components/jquery/jquery.js")
  script(src="/js/ProjectInfo.js")
  script(src="/js/LedControl.js")
  script(src="/js/StatusMonitor.js")
  script(src="/js/ProjectStatusController.js")

block content
  div(ng-controller="ProjectStatusController")
    .project.overall-status(status="{{ overallStatus }}") Overall Status
    ul.project-list
      li.project(ng-repeat="projectInfo in projectInfos", status="{{projectInfo.status}}")
        span {{projectInfo.name}}
        span {{projectInfo.buildNumber}}
